# Local Debian package build (inside source tree)
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.*
*.upload

debian/files
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/.debhelper/
debian/apt-auto-update/
